h1 {
    color: #1E90FF;
    font-family: Impact, fantasy;
    font-size: 100px;
    padding-left: 50px;
}

body {
    background-image: url("C://Users//mamet//PycharmProjects//DigiSpark//static//images//icon1.png");
}