{% extends "base.html" %}

{% block content %}
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-left">
                <span><a href="/">🖥 Для сборки ПК</a></span>
            </div>
            <div class="separator"></div>
            <div class="navbar-right">
                <span><a href="/radio">⚙ Радиоэлектроника</a></span>
            </div>
        </div>
    </nav>
    <div class="cards1-group">
        <div class="card" style="width: 16rem;">
            <img src="https://img.icons8.com/?size=100&id=74382&format=png&color=000000" class="card-img-top">
            <div class="card-body d-flex flex-column align-items-center">
                <a href="#" class="btn btn-outline-primary">Видеокарты</a>
            </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img src="https://img.icons8.com/?size=100&id=aBK2UoN0jk4I&format=png&color=000000" class="card-img-top">
            <div class="card-body d-flex flex-column align-items-center">
                <a href="#" class="btn btn-outline-primary">Процессоры</a>
            </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img src="https://img.icons8.com/?size=100&id=i05nfAj6TM0I&format=png&color=000000" class="card-img-top">
            <div class="card-body d-flex flex-column align-items-center">
                <a href="#" class="btn btn-outline-primary">ОЗУ</a>
            </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img src="https://img.icons8.com/?size=100&id=30103&format=png&color=000000" class="card-img-top">
            <div class="card-body d-flex flex-column align-items-center">
                <a href="#" class="btn btn-outline-primary">БП</a>
            </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img src="https://img.icons8.com/?size=100&id=vaQUFtPEp5nj&format=png&color=000000" class="card-img-top">
            <div class="card-body d-flex flex-column align-items-center">
                <a href="#" class="btn btn-outline-primary">hdd/ssd диски</a>
            </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img src="https://img.icons8.com/?size=100&id=DEh29EAslzc0&format=png&color=000000" class="card-img-top">
            <div class="card-body d-flex flex-column align-items-center">
                <a href="#" class="btn btn-outline-primary">Материнские платы</a>
            </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img src="https://img.icons8.com/?size=100&id=gvQUkpW15e1x&format=png&color=000000" class="card-img-top">
            <div class="card-body d-flex flex-column align-items-center">
                <a href="#" class="btn btn-outline-primary">Корпуса и мониторы</a>
            </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img src="https://img.icons8.com/?size=100&id=PzfJuqXu8lAF&format=png&color=000000" class="card-img-top">
            <div class="card-body d-flex flex-column align-items-center">
                <a href="#" class="btn btn-outline-primary">Куллеры</a>
            </div>
        </div>
        <div class="card" style="width: 16rem;">
            <img src="https://img.icons8.com/?size=100&id=ZyHalJg8YHg9&format=png&color=000000" class="card-img-top">
            <div class="card-body d-flex flex-column align-items-center">
                <a href="#" class="btn btn-outline-primary">Мышки и клавиатуры</a>
            </div>
        </div>
    </div>
{% endblock %}